<!DOCTYPE html>
<html>
<head>
    <title>{%if page_title %} {{page_title}} {%else%} Iron Spider {%endif%}</title>
</head>
<body>

    {%block content%}

    {%endblock%}

    <script src="{{url_for('static', filename='js/jquery-1.11.0.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/underscore-min.js')}}"></script>
    <script src="{{url_for('static', filename='js/backbone-min.js')}}"></script>
    <script src="{{url_for('static', filename='js/app.js')}}"></script>

</body>


</html>